#block-views-block-view-team-page-block-1 {
    .view-content {
        margin-top: 80px;
        h3 {
            color: #005ebc;
            text-align: left;
            font-size: 30px;
            letter-spacing: 0px;
            font-weight: 700;  
        }
        .field-content {
            border-bottom: 1px solid rgba(0,94,188,0.5);
            .team-board {
                .picture {
                    margin-bottom: 67px;
                    margin-top: 20px;
                }
                .full-text-team {
                    margin-top: 20px;
                    h2 {
                        font-size: 20px;
                        color: #005ebc;
                        line-height: 40px;
                    }
                    h3 {
                        font-size: 14px;
                        line-height: 2; 
                        font-weight: 400;
                    }
                }
                #accordion {
                    border-bottom: 1px solid #e5e4e3;
                    .panel {
                        border-color: transparent;
                        .panel-heading {
                            background-color: #ffffff;  
                            .panel-title {
                                margin: 0 -15px;
                                padding: 15px 0;
                                    a {
                                        font-size: 17px;
                                        color: #005ebc;
                                        font-weight: 400;
                                        line-height: 1.5;
                                        letter-spacing: 1px;    
                                    }
                                    a:hover, a:focus {
                                        text-decoration: unset; 
                                    }
                                    .fa-plus-square {
                                        margin-right: 18px;
                                        background-color: rgba(0,115,230,0.5);
                                        display: inline-block;
                                        border-color: rgba(0,115,230,0.5)
                                }
                            }
                        }
                        .collapse {
                            .panel-body {
                                border-top: unset;  
                            }
                        
                        }
                    }
                }
            }
        }    
    }
}
#block-views-block-job-listing-view-block-1 {
    .view-content {
        margin-top: 120px;
    .job-view {
            margin-bottom: 70px;
            border-bottom: 1px solid #ddd;
            .body-blog {
                margin-bottom: 25px;
            }   
            .blog-post-metadata {
                font-size: 14px;
                color: #9fa4af;
                font-weight: bold;          
            }
            h2 {
                font-size: 35px;
            }
        } 
    }    

}

#block-views-block-job-banner-block-node-block-1 {
    .view-content {
        margin-bottom: 0px;
    }
}

#block-ourmissionaboutuspage {
    .our-mission {
        border-bottom: 1px solid #ddd;
        padding: 50px 0 50px 0;
    }
}
#block-ourgoalsaboutuspage {
    margin-bottom: 106px;
    .our-goals {
        padding: 50px 0 50px 0;
        border-bottom: 1px solid #ddd;
    }
}
.page-node-195 {
    #news {
        border-bottom: 2px solid rgba(0, 94, 188, 0.5);
        #block-videoaboutuspage {
            .about-us-video-front {
                padding: 60px 0 60px 0;
            }
        }
    }

}