#news {
    #block-webform-2 {
        margin-top: 120px;
        margin-bottom: 120px;
        .btn {
            background-color: #005ebc;
            border-radius: 0px;
            margin: 0 0 20px;
            font-weight: 700;
            font-size: 17px;
            text-align: center;
            color: #ffffff;
            padding: 15px;
        }
        .btn:hover {
            background: #ffffff;
            color: #005ebc;
            border-color: #005ebc;
        }
    }
}