body, a {
    font-family: 'Titillium Web', sans-serif;
    
}
body {
    position: unset;
    margin-top: 0px;
    h2 {
        font-size: 40px;
        line-height: 60px;
        font-weight: bold;
        color: #465a62;
        
    }
    @media (min-width: 992px) {
        h2 {
            font-size: 40px;
        }
    }
    h5 {
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 32px;
        font-weight: bold;
        color: #9fa4af;
        text-transform: uppercase;
    }
    .main-container {
        img {
            width: 100%;
            height: auto;
            padding: 50px;

        }
    }
    .page-node-95 {
        max-width: 100%;
        width: auto;
    }
}
.btn {
    border-radius: 25px;
    background-color: #ffffff;
    font-size: 13px;
    letter-spacing: 1px;
    color: #33a5d0;
    padding: 15px 50px;
    font-weight: bold;
    text-align: center;
    border-color: transparent;
    font-family: 'titillium_webregular', sans-serif;
    text-transform: uppercase;
}
.btn:hover {
    background-image: linear-gradient(90deg, #7159df 0%, #7fb9cf 100%);
    color: #ffffff;
    background: linear-gradient(90deg, #7159df 0%, #7fb9cf 100%);
    
}
.field--name-body {
    line-height: 25px;
    color: #5d6067;
    font-size: 16px;
    font-family: 'titillium_webregular', sans-serif;
}

blockquote {
    border-radius: 12px;
    background-image: linear-gradient(90deg, #7159df 0%, #7fb9cf 100%);
    padding: 35px;
    width: 80%;
    margin: 0 auto;
    p {
        vertical-align: middle;
        font-size: 30px;
        letter-spacing: 0px;
        line-height: 35px;
        font-weight: 300;
        color: #ffffff;
    }
}
blockquote:before {
    content: open-quote;
    letter-spacing: 20px;
    line-height: 45px;
    color: #ffffff;
    font-family: "Arial Rounded MT Bold";
    font-weight: bold;
    font-size: 60px;
}
.view-content {
    width: 100%;
    float: left;

    .our-news {
        .news {
            padding: 50px 0 0 0;
            border-bottom: 1px solid #ddd;
            margin: 0 auto;
            .news_image {
                overflow: hidden;
                img {
                    width: 100%;
                    min-width: 100%;
                    height: auto;
                    transition: all 0.3s ease;
                    transform: scale(1);
                    //box-shadow: 0 0 40px rgba(147, 147, 147, 0.73);
                    //background-color: #ffffff;
                    //border-top-left-radius: 10px;
                    //border-top-right-radius: 10px;
                }
                img:hover {
                    transition: all 0.3s ease;
                    transform: scale(1.1); 
                }
           }
            .full-text {
               // box-shadow: 0 0 40px rgba(147, 147, 147, 0.73);
                background-color: #ffffff;
               // border-bottom-left-radius: 10px;
               // border-bottom-right-radius: 10px;
                min-height: 155px;
                .title {
                    //padding: 20px;
                    padding: 20px 0 10px 0;
                    a {
                        font-size: 21px;
                        color: #33a5d0;
                        font-weight: 500;
                        line-height: 27px;
                    }
                    a:hover {
                        color: #337ab7;
                    }
                }
                .news-post-metadata {
                    font-size: 14px;
                    color: #9fa4af;
                    font-weight: bold;
                   // margin-top: -17px;
                    //margin-left: 22px;
                    //padding-bottom: 30px;
                }
            }
        }
        @media (min-width: 992px) {
            .news {
                border-bottom: unset;
                padding: 20px 20px 0 20px;
            }

        }
    }
}

h1 {
    font-size: 60px;
    line-height: 72px;
    color: #465a62;
    font-weight: bold;
} 
p {
    font-size: 16px;
    line-height: 28px;
    color: #5d6067;
}
.pager__item {
    .button {
        margin-bottom: 58px;
        border-radius: 25px;
        background-color: #ffffff;
        font-size: 13px;
        letter-spacing: 1px;
        color: #33a5d0;
        padding: 15px 50px;
        font-weight: bold;
        text-align: center;
        border-color: transparent;
        font-family: 'titillium_webregular', sans-serif;
        text-transform: uppercase;
        
    }
    .button:hover {
        background-image: linear-gradient(90deg, #7159df 0%, #7fb9cf 100%);
        color: #ffffff;
        background: linear-gradient(90deg, #7159df 0%, #7fb9cf 100%);
        
    }
}
.form-control {
    height: 50px
}
.control-label {
    color: #999999;
    line-height: 1.5;
    letter-spacing: 0.1px;
    font-size: 16px;
    font-weight: 400;
}
h2 {
    color: #005ebc;
    font-weight: 700;
}
a:hover, a:focus {
    text-decoration: unset;
}
.news-user {
    margin-top: 50px;
    margin-bottom: 110px;
    .user-image {
        
        img {
            float: left;
            border-radius: 50%;
            height: 100px !important;
            width: 100px !important;
            padding: 0 !important;
        } 
    }
    .full-text {
        padding: 20px 115px;
        .blog-post-metadata {
            color: #5d6067;
        }
        .position {
            color: #5d6067;
            font-weight: 600;
            padding: 10px 0 0 0;
        }
    }
}    
.btn-success:hover, .btn-success:focus {
    border-color: transparent;
}
.btn-success.active:hover {
    background-color: unset;
    border-color: unset;
}
.btn:focus, .btn.focus {
    outline: unset !important;
}
.btn:active, .btn.active {
    box-shadow: unset !important;
    -webkit-box-shadow: unset !important;
}
a:active, a:hover {
    outline: unset !important;
}
.slick-dots {
    li {
        margin-top: -80px;
        button { 
            &:before {
                font-size: 2.0rem;
                color: #ffffff;
            }
        }
        &.slick-active {
            button { 
                &:before {
                    color: #ffffff;
                }
            } 
        }
    }
}
.main-container  {
    .content {
        margin: 50px 0 100px;
    }
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
}
.sourse {
    margin: 50px 0;
}
.pager li > a, .pager li > span {
    padding: 0 0;
    background-color: #fff;
    border: transparent;
}
iframe {
    padding: 40px;
}
@media (max-width: 767px) {
    iframe {
        width: 100%;
        height: auto;
    }
}