#block-views-block-author-block-2 {
    .full-text {
        margin-top: -10px;
        margin-left: 135px;
        .blog-post-metadata {
            color: #465a62;
            font-size: 18px;
            a {
                font-size: 16px;
                line-height: 28px;
                color: #33a5d0;
                font-weight: bold;
            }
            
        }
        .position {
            font-size: 16px;
            color: #465a62;
        }
    }
}
#block-views-block-view-news-page-block-4 {
    margin-top: 80px;
    .view-content {
        margin-top: 80px;
    }
}
#block-views-block-view-news-page-block-3 {
    margin-bottom: 120px;
    
}

#block-views-block-sourse-news-block-2 {
    margin-bottom: 120px;
    border-bottom: 1px solid #ddd;
    .field-content {
        margin-bottom: 50px;
    }
}
#block-views-block-author-block-2 {
    margin-bottom: 80px;
}
#news {
    .form--inline {
        .control-label {
            padding: 0 50px;
            font-size: 17px;
            color: #000000;
        }
        .btn {
            margin-left: 20px;  
        }
    }
}
