#slide #slick-views-slideshow-block-1-1 .slick-home .wrapper .full-content-slide h2 {
    color: #ffffff;
    line-height: 47px;
    padding-bottom: 16px;
}

#projects .view-content .new-project-front .full-text-projects {
    margin-left: 2%;
}

#projects .view-content .new-project-front .full-text-projects h3 {
    margin-top: 158px;
}

@media (min-width: 992px){
	#events .view-content .full-text-event-front {
		min-height: 325px;
	}
}

@media (min-width: 992px){
	#slide .form-group .node-news .full-text .title {
		font-size: 50px;
		line-height: 57px;
	}
}

#news .projects-wrapper .projects .projects-image img {
    object-fit: cover;
}

#news .projects-wrapper .projects .full-text .title a {
    font-weight: 800;
}

.path-user .main-container img {
    width: auto;
    height: auto;
    padding: 0px;
    float: left;
    margin-right: 24px;
}

.path-user .field--type-string{
	font-size:15px;
	line-height: 25px;
}