#footer {
    background-color: #465a62;
    .footer {
        margin-top: 0;
        padding-bottom: 20px;
        border-top: transparent;
    }
    .subscribe {
        font-size: 18px;
        line-height: 24px;
        color: #ffffff;
        font-weight: bold;
        text-align: center;
        margin-top: 16px;
    }
    .connect {
        font-size: 18px;
        line-height: 24px;
        color: #ffffff;
        font-weight: bold;
        text-align: center;
        margin-top: 16px;
    }
    .social-media {
        .fa-social {
            li {
                list-style: none;
                float: left;
                padding: 10px; 
                a{
                    color: #ffffff;
                    font-size: 27px;
                }
                a:hover {
                    color: #ffffff;
                }
            }
        }
    } 
    #block-webform {
        .form-control {
            height: auto;
            border-radius: 50px;
            font-size: 14px;
            line-height: 1.428571429;
            color: #ffffff;
            background-color: #627379;
            background-image: none;
            padding: 17px 15px;
            border: 1px solid #627379;
            display: block;
            width: 100%;
        }
        .webform-actions {
            margin-bottom: 0;
            .btn {
                margin-right: 21px;
                float: right;
                margin-top: -54px;
                background-image: url("../images/envelope-regular.png");
                border-color: transparent;
                background-color: transparent;
                width: 10%;
                background-position: center;
                background-size: cover;
                border-radius: 0;
                height: auto;
                padding: 12px 16px;
                font-size: 0px;
            
            
            }
        }
    }   
}

#footer_second {
    .footer-text {
        font-size: 16px;
        line-height: 25px;
        color: #919da2;
        text-align: right;
        margin: 0 auto;
        margin-top: 0px;
        p {
            color: #919da2;  
            font-size: 16px;
        }
    }

    @media (min-width: 992px) {
        .footer-text {
            margin-top: 15px;
        }
    }
    .menu {
        text-align: center;
        margin: 0 auto;
        padding-top: 20px;
        li {
                float: left;
                text-align: center;
            a {
                letter-spacing: 0px;
                font-size: 15px;
                color: #666666;
                font-weight: 600;
                padding: 10px 15px 0px;
            }
            @media (min-width: 992px) {
                a {
                    padding: 10px 15px 25px;
                }
            }
            a:hover {
                color: #33a5d0;
                background-color: transparent;
            }
            a:focus {
                border-color: transparent;
                outline: unset;
            }
        }
    }    
}

