#navbar {
  background-color: transparent;
  border-color: transparent;
    .navbar-toggle {
      margin: 50px;
  }

  .navbar-nav{
    margin: 0;
    padding: 0;
    li {
      a {
        vertical-align: center;
        text-align: center;
        letter-spacing: 0px;
        font-size: 15px;
        color: #666666;
        font-weight: 600;
        padding: 14px 0;
      }
      @media (min-width: 768px) {
        a {
          text-align: unset;
          vertical-align: unset;
          padding: 0 13px;

        }
      }
      a:hover {
        color: #33a5d0;
        background-color: transparent;
      }
      a:focus {
        border-color: transparent;
        outline: unset;
      }
      &.active {
        a {
          background-color: transparent;
        }
      }
      &.open {
        a {
          background-color: transparent;
        }
      }
    }
    .dropdown-menu {
      border-color: transparent;
      left: -18px;
      li {
        padding: 10px;
      }
    }
  }
  @media (min-width: 768px) {
    .navbar-nav {
      margin-left: 0;
      margin-top: 0;
      float: right;
      padding: 60px 0;
    }
  }

  #block-languageswitcher {
    .links {
      vertical-align: center;
      text-align: center;
      list-style: none;
      padding: 14px 0;
      li {
        a {
        color: #666666;
        font-weight: 600;
        }
        a:hover {
          color: #666666;
          text-decoration: unset;
        }
        a:hover {
          color: #33a5d0;
          background-color: transparent;
        }
      }
  
    }
    @media (min-width: 768px) {
      .links {
        padding: 60px 0;
        margin-bottom: 0;


      }  
    }
  }  
  .logo {
    img {
      margin-top: 26px;
      margin-bottom: 16px;
      font-size: 15px;
      color: #666666;
    }
  }
}

.language-en {
  .en {
    display: none;
  }
}
.language-ar {
  .ar {
    display: none;
  }
}
.navbar-toggle,
.navbar-toggle::before,
.navbar-toggle::after {
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 10px;
}
.navbar-toggle::before {
  content: '';
  margin-top: -8px;
}
.navbar-toggle::after {
  content: '';
  margin-top: 8px;
}