#slide {
    .form-group {
        .node-news {
            position: relative;
            
            .news_image {
                overflow: hidden;
                img {
                    width: 100%;
                    height: 495px;
                    object-fit: cover;
                    object-position: center;
                    position: absolute;
                    @media (min-width: 992px) {
                        height: 455px;
                    }
                }
               
            }
            .full-text {
                position: relative;
                padding: 137px 15px;
                text-align: center;
                min-height: 495px;

                @media (min-width: 992px) {
                    min-height: 455px;
                }
                .title {
                    margin: 10px auto;
                    font-size: 25px;
                    color: #ffffff;
                    font-weight: bold;
                    line-height: 40px;
                }
                @media (min-width: 992px) {
                    .title {
                        font-size: 50px;
                        line-height: 40px;
                    }
                }
                .news-post-metadata {
                    margin: 0 auto;
                    font-size: 16px;
                    color: #ffffff;
                    font-weight: bold;
                    margin-top: 30px;
                   
                }
                .body-text {
                    p {
                        font-size: 16px;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}


#block-views-block-news-main-view-block-11 {
    .full-text {
        .body-text {
            h1 {
                color: #ffffff;
                font-size: 20px;
                line-height: 1.5;
            }
            @media (min-width: 992px) {
                h1 {
                    font-size: 32px;
                }    
            }
        }
    }
}
#block-views-block-gallery-news-block-1 {
    .field-content {
        .colorbox {
            float: left;
            padding: 30px;
        }
    }
}
#block-views-block-sourse-news-block-1 {
    border-bottom: 1px solid #ddd;
}

#block-views-block-author-block-1 {
    margin-bottom: 66px;
    margin-top: 124px;
    .user-image {
        img {
            float: left;
            border-radius: 50%;
            margin-top: -25px;
            margin-left: 16px;
            width: 100px;
            height: 100px;
            padding: 0;
        } 
    }
    .full-text {
        margin-top: -10px;
        margin-left: 135px;
        .blog-post-metadata {
            color: #465a62;
            font-size: 18px;
            a {
                font-size: 16px;
                line-height: 28px;
                color: #33a5d0;
                font-weight: bold;
            }
            
        }
        .position {
            font-size: 16px;
            color: #465a62;
        }
    }

}
    
.region {
    .field--name-user-picture {
        a {
            display: none;
        }
    }
    .author {
        display: none;
    }
}

#after_content {
    background-image: url("../images/BG.svg");
	background-position: center;
    background-size: cover;
	height: 780px;
    width: 100%;
    
    .view-header {
		.news-text {
		
			h2 {
                font-size: 30px;
                line-height: 72px;
                color: #ffffff;
                font-weight: 300;
                margin-left: 9px;
                letter-spacing: -1px;
                margin-top: 100px;
            }
            @media (min-width: 992px) {
                h2 {
                    font-size: 60px;
                }
            }
		}
		.button-news {
			text-align: right;
			.btn {
                border-radius: 25px;
                background-color: #ffffff;
                font-size: 13px;
                letter-spacing: 1px;
                color: #c2c9db;
                font-weight: bold;
                text-align: center;
                border-color: transparent;
                margin-bottom: 0;
                margin-top: 0;
                margin: 0 auto;
                padding: 15px 50px;
            }
            @media (min-width: 992px) {
                .btn {
                    margin-bottom: 53px;
                    margin-top: 117px;
                }
            }
			.btn-success:hover {
				background-color: #ffffff;;
			}
		}
    }    

    .view-content {
		.our-news {
			.news {
				
				.full-text {
                    text-align: left;
                    .title {
                        padding: 20px 0 20px 20px;
                    }
                }
                .news-post-metadata {
                    padding: 0 20px 20px;
                    a {
                        font-size: 14px;
                        color: #9fa4af;
                        font-weight: bold;
                    }
                }
			}
        }
        @media (max-width: 991px) {
            .our-news {
                width: 100%;
                max-width: 66%;
                margin: 0 auto;
            }
        }
    }
    
    .slick-dots {
        li {
            margin-top: 30px;
            margin-bottom: -60px;
        }
    }
}
#block-weinmedianewspage {
    padding-bottom: 30px;
    margin-top: 45px;
    .wrapper-media {
        .row {
            .img-last-line {
                padding-top: 40px;
            } 
            .keep-in-touch {
               h5 {
                    margin-left: 69px;
                    letter-spacing: 0px;
               }
               h1 {
                    margin-top: -9px;
                    margin-left: 27px;
                    letter-spacing: -3px;
                }
                p {
                    margin-left: 33px;
                }
            }
            .img-first-line {
                margin-top: 32px;
            }
        }
    }
}
#news {
    .view-content {
       margin-top: 80px; 
       .news {
        padding-bottom: 30px;
        }
    }
}
#block-views-block-photo-gallary-block-1 {
    .field-content {
        img {
            padding: 20px 0;
        }
    }
}