#news {
    .projects-wrapper {
       
        .projects {
            margin: 27px 0;
            border-bottom: 1px solid #ddd;  
            .projects-image {
                padding: 45px;
               img {
                border-radius: 50%;
                max-width: 350px;
                margin: 0 auto;
                width: 100%;
                   // transition: all 0.3s ease;
                   // transform: scale(1);
                }
                //img:hover {
                  //  transition: all 0.3s ease;
                   // transform: scale(1.1);
                //}
            }
            .full-text {
                .title {
                    text-align: center;
                    padding-bottom: 30px;
                    a {
                        font-size: 20px;
                        color: #33a5d0;
                        font-weight: 500;
                        text-transform: uppercase;
                    }
                    a:hover {
                        color: #337ab7;
                    }
                }
                @media (min-width: 992px) {
                    .title {
                        padding-bottom: 0;
                        margin-left: 20px;
                         margin-right: 20px;
                    }
                }
            } 
        }
        @media (min-width: 992px) {
            .projects {
                min-height: 435px;
                margin: 35px 0; 
                border-bottom: transparent;  
                background-color: #ffffff;
                box-shadow: 0 0 40px rgba(147, 147, 147, 0.73);


            }
            .projects:active {
                box-shadow: inset 0 0 40px rgba(147, 147, 147, 0.73);

            }
        }
    }
}
#phoebus_goals {
    background-size: cover;
    height: auto;
    background-color: #ef9955;
    background-position: center bottom;
    background-repeat: no-repeat;
    padding-top: 150px;
    padding-bottom: 150px;
    border-color: rgba(234,233,233,0);
    border-top-style: solid;
    border-bottom-style: solid;
    .phoebus-goals {
        .icon {
            text-align: center;
           .fontawesome-icon {
                border-color: #ffffff;
                background-color: #ffffff;
                font-size: 53px;
                line-height: 106px;
                height: 106px;
                width: 106px;
                color: #ef9955;
                border-radius: 50%;
                padding: 25px 25px 25px 25px;
            } 
           .text {
               p {
                color: #ffffff;
                margin: 31px 0 31px;
                font-weight: 400;
                font-size: 18px;
               }
           }
           
        }
    }
}
#social {
    #block-views-block-projects-listing-block-1 {
        padding: 50px 0 50px 0;
        .view-header {
            .text-header {
                h1 {
                    color: #ef9955;
                    font-size: 48px;
                }
            }
        }
    }
    .news {
        padding: 50px 0px 50px 10px;
        .news_image {
            overflow: hidden;
            img {
                transition: all 0.3s ease;
                transform: scale(1);
                width: 100%;
            }
            img:hover {
                transition: all 0.3s ease;
                transform: scale(1.1);
            }
        }
        .full-text {
           .title {
               a {
                color: #000000;
                font-size: 20px;
                font-weight: 400;
                font-style: normal;
                letter-spacing: 0.1px;
               }
           } 
            .body {
                p{
                    color: #999999;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 16px;
                    a {
                        color: #999999;
                    } 
                }
            }
        }  
    }
    @media (min-width: 992px) {
        .news {
            max-height: 460px;
        } 
    } 
}
.page-node-215 {
    .main-container {
        .content {
           img{
               max-width: 100%;
               margin: 0 auto;
           } 
           @media (min-width: 992px) {
                img{
                    max-width: 30%;
                } 
            }

           h2 {
                color: #005ebc;
                font-size: 25px;
                font-weight: 400;
            }
           p {
                color: #aaaaaa;
           }
        }
    }
}
#full_region {
    background-color: rgba(0,94,188,0.5);
    background-position: center bottom;
    background-repeat: no-repeat;
    padding: 120px 0;
    text-align: center;
    .text {
        color: #ffffff;
        font-size: 20px;
        font-weight: 600;
        line-height: 2.0;
    }
}
.page-node-216 {
    .main-container {
        .content {
            margin-bottom: 0;
           img{
               max-width: 37%;
           } 
          
        }
    }
    h2 {
        color: #005ebc;
        font-size: 25px;
        font-weight: 400;
    }
    p {
        color: #aaaaaa;
        padding: 50px 0;
    }
}
#block-textcounterfeitmedicine {
    margin: 50px 0px;
}
#with_container {
    background-color: rgba(18,106,169,0.65);
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    .objectives {
        h1 {
            color: #ffffff;
            font-size: 36px;
            padding: 50px 0;
        }    
        p {
            font-size: 18px;
            color: #ffffff;
            padding: 0 0px 100px 0;
           
        }
        .icon {
            .fontawesome-icon {
                border-color: #ffffff;
                background-color: #ffffff;
                font-size: 52.8px;
                line-height: 105.6px;
                height: 105.6px;
                width: 105.6px;
                color: #005ebc;
                border-radius: 50%;
                padding: 25px 25px 25px 25px;
            }    
        }
        .text {
            p {
                padding: 30px 0 100px;
            }
        }
    }
}   
.page-node-217 {
    h2 {
        color: #005ebc;
        font-size: 25px;
        font-weight: 400;
    }
    p {
        padding: 10px 0;
    }
    
    .full_region {
        p {
            color: #ffffff;
            font-size: 30px;
        }
    }
    #text_container {
        padding-bottom: 50px;
    }
} 
.page-node-218 {
    h2 {
        color: #005ebc;
        font-size: 25px;
        font-weight: 400;
    }
    p {
        padding: 10px 0;
        color: #999999;
    }
    #full_region {
        padding: 75px 0;
        p {
            color: #ffffff;
            font-size: 20px;
        }
    }
    #text_container {
        padding-bottom: 50px;
    }
    #with_container {
        p {
            color: #ffffff;
            font-size: 25px;
            padding: 70px 0px;
        }
    }
    #social {
        padding-bottom: 50px;
    }
}
.page-node-23 {
    #news {
        background-color: #eee;
    }
}