#slide {
    margin-top: -20px;
    #slick-views-slideshow-block-1-1 {
		.slick-home {
			position: relative;
			.slide-img {
				overflow: hidden;
				img {
					min-height: 695px;
					width: 100%;
					position: absolute;
					object-fit: cover;
					object-position: center;
				}
			}
			.wrapper {
				padding: 60px 15px;
				position: relative;
				min-height: 650px;
				.full-content-slide {
					max-width: 100%;
					width: 100%;
					position: relative;
					padding: 0 15px 0;
					max-height: 650px;
					h5 {
						color: #ffffff;
						margin-left: 2px;
						margin-bottom: -10px;
					}
						
					h2 {
						color: #ffffff;
						@media (max-width: 767px) {
							a {
								font-size: 25px;
								
							}
						}	
					}
					@media (max-width: 992px) {
						h2 {
							line-height: 30px;
						}
					}
					.text {
						margin-top: -10px;
						margin-bottom: 60px;
						color: #ffffff;
						
						p {
							color: #ffffff;
							a {
								color: #ffffff;
							}
						}
					}
					@media (min-width: 768px) {
						text {	
							margin-top: 50px;
							margin-bottom: 50px;
						}
					}
					@media (min-width: 768px) {
						.full-content-slide {
							width: 60%;
							margin-left: 30px;
							padding: 20px 15px;
						}
					}
				}
				@media (min-width: 992px) {
					.full-content-slide {
						width: 75%;
						padding: 50px 15px 0;
					}
				}
				.read-more {
					margin-top: -20px;
					margin-left: 15px;
					a {
						background-color: #ffffff;
						border-radius: 25px;
						color: #33a5d0;
						text-transform: uppercase;
						padding: 17px 41px;
						font-size: 14px;
						letter-spacing: 1px;
						text-align: center;
					}
					a:hover {
						background-image: linear-gradient(90deg, #7159df 0%, #7fb9cf 100%);
						color:#ffffff;
						background: linear-gradient(90deg, #7159df 0%, #7fb9cf 100%);
					}
				}
				@media (min-width: 992px) {
					.read-more  {
						margin-top: 0px;

					}
				}

			}
        }
    }
}
#news {
	.view-header {
		.news-text {
			h5 {
				margin-top: 30px;
			}
			h2 {
				font-size: 40px;
				line-height: 72px;
				color: #465a62;
				font-weight: bold;
				margin-left: -6px;
				letter-spacing: -3px;
				margin-top: -10px;
				margin-bottom: 0;
			}
			@media (min-width: 992px) {
				h2 {
					margin-bottom: 15px;
					font-size: 60px;
				}
			}
		}
		.button-news {
			text-align: right;
			.btn {
				margin-top: 0;
			}
			@media (min-width: 992px) {
				.btn {
					margin-top: 70px;
				}
			}	
		}
	}
	#block-views-block-our-last-news-block-1 {
		.view-content {
			margin-top: 0;
		}
	}	
}

#about_us {
	background-image: url("../images/bg_about_us.svg");
	background-position: center;
	background-size: cover;
	padding-bottom: 37px;
	.our-mission-front {
		margin: 40px auto;
		.about-us-front {
			h5 {
				color: #ffffff;
				padding-top: 40px;
			}
			h2{
				color: #ffffff;
				line-height: 50px;
			}
			.text {
				margin-top: 30px;
				p {
					color: #ffffff;
				}
			}
			.btn {
				margin-bottom: 0;
				margin-top: 0;
			}
			@media (min-width: 992px) {
				.btn {
					margin-bottom: 52px;
					margin-top: 58px;
				}
			}
		}
		.about-us-video-front {
			margin-top: 33px;
		}
	}
}

#projects {
	padding-bottom: 60px;
	.view-header {
		margin-top: 71px;
		.title-project-front {
			font-size: 24px;
			color: #465a62;
			font-weight: bold;
			margin-top: 0;
			margin-bottom: 0;
			text-align: center;
		}
		@media (min-width: 992px) {
			.title-project-front {
			margin-top: 51px;
			margin-bottom: 34px;
			}
		}
		.pretitle {
			font-size: 14px;
			letter-spacing: 1px;
			color: #9fa4af;
			font-weight: bold;
			text-transform: uppercase;
		}
		.title {
			font-size: 60px;
			line-height: 71px;
			color: #465a62;
			font-weight: bold;
			margin-left: 13px;
		}
		.see-projects-front {
			text-align: center;
			.btn {
				margin-top: 0;
			}
			@media (min-width: 992px) {
				.btn {
					margin-top: 42px;
				}
			}
		}
	}
	.view-content {
		width: 100%;
		float: left;
		margin: 20px auto;
		.last-projects-front {
			.image-project {
				img {
					box-shadow: 0 0 40px rgba(170, 182, 194, 1);
					border-radius: 5px;
					margin: 0 auto;
					transition: all 0.3s ease;
					transform: scale(1);
				}
				img:hover {
					transition: all 0.3s ease;
					transform: scale(1.1);
				}
			}
		    .full-text-projects {
				margin: 0 auto;
				text-align: center;
				font-size: 18px;
				line-height: 30px;
				color: #465a62;
				font-weight: bold;
				width: 45%;
				h3 {
					margin-top: 0;
    				margin-bottom: 63px;
					a {
						font-size: 18px;
						line-height: 0px;
						color: #465a62;
						font-weight: bold;
						}
					a:hover {
						color: #33a5d0;
					}
				}	
				p {
					color: #465a62;
					font-weight: 300;
					font-size: 14px;
					padding: 0px;
    				margin-top: -13px;
				}
				
			}
			@media (min-width: 992px) {
				.full-text-projects	{
					text-align: left;
					
				}
			}
			
		}
		.new-project-front {
			position: relative;
			margin-top: 25px;
			.image-project {
				overflow: hidden;
				margin-top: -15px;
				img {
					width: 100%;
					height: 420px;
					box-shadow: 0 0 40px rgba(170, 182, 194, 1);
					border-radius: 5px;
					position: absolute;
					object-fit: cover;
					object-position: center;
					max-height: 420px;
					transition: all 0.3s ease;
					transform: scale(1);
				}
				img:hover {
					transition: all 0.3s ease;
					transform: scale(1.1);
				}
			}
			.full-text-projects {
				position: relative;
				margin-left: 5%;
				padding: 170px 15px;
				max-height: 420px;
				width: 100%;
				h3 {
					margin-top: 103px;
					a {
						font-size: 18px;
						color: #ffffff;
						font-weight: 500;
					}
				}	
				p {
					font-size: 26px;
					color: #ffffff;
					font-weight: bold;
				}
			}
			

		}
	}
}
#events {
	background-image: url("../images/BG.svg");
	background-position: center;
    background-size: cover;
	height: 780px;
	width: 100%;
	.view-header {
		.events-text {
			margin-top: 9%;
			h2 {
				color: #ffffff;
			}
		}
		.button-events {
			.btn {
				margin-top: 0;
				margin-bottom: 0;
				margin: 0 auto;
			}	
			@media (min-width: 992px) {
				.btn {
				float: right;
				margin-top: -71px;
				margin-bottom: 45px;
				}
			}
		}
	}	
	.view-content {
		margin-bottom: 62px;
		img {
			max-width: 90%;
			border-radius: 10px;
			z-index: 99999999999;
			width: 100%;
		}
		margin-top: 40px;
		float: left;
		width: 100%;
			
		.full-text-event-front {
			background-color: white;
			width: 100%;
			max-width: 90%;
			height: 350px;
			border-radius: 10px;
			margin: 0 auto;
			

			.title {
				padding: 40px;
				a {
					font-size: 21px;
					color: #33a5d0;
					font-weight: 500;
					line-height: 27px;
				}
				a:hover {
					color: #337ab7;
				}
			}
			.btn {
				background-color: #33a5d0;
				border-color: #33a5d0;
				padding: 10px 9px;
				color: #ffffff;
				border-radius: 5px;
				margin: 0 42px 0;
				a {
					color: #ffffff;
				}
				
			}
			.btn:hover {
				background-color: #33a5d0;
				border-color: transparent;
				color: #ffffff;

			}
			.text {
				p { 
					font-size: 14px;
					padding: 20px 40px;
					a {
						line-height: 28px;
    					color: #5d6067;
					}
				}
			}
		}	
		@media (min-width: 992px) {
			.full-text-event-front {
				min-height: 450px;
			}
		}
	}
	.slick-dots {
		li {
			margin-top: 50px;
			margin-bottom: -70px;
		}
	}	
}
#connect_us {
	background-image: url("../images/BIC_Homepage.svg");
	background-position: center;
	background-size: cover;
	padding-bottom: 0;

	.connect-us-front {
		text-align: center;
		margin: 0 auto;
		padding: 66px;
		h5{
			color: #ffffff;
			margin-top: 16px;
			margin-bottom: 27px;
			margin: 0 auto;
		}
		h2 {
			color: #ffffff;
			margin-bottom: 31px;
			margin-left: -25px;
			margin: 0 auto;
		}
		.Contact-button {
			.btn {
				margin-right: 10px;
				max-width: 100%;
				margin: 40px 0 0;
				padding: 15px 30px;
				p{
					font-size: 14px;
					color: #33a5d0;
					line-height: 1.5;
					margin: 0 auto;
				}
				p:hover {
					color: #ffffff;
				}

			}
		}
	}
	.slick-dots {
		li {
			margin-bottom: 25px;
		}
	}
}
.path-frontpage {
	#block-views-block-our-last-news-block-1 {
		padding-bottom: 80px;
	}	
}
#social {
	#block-socialfeed {
		margin-bottom: 10%;
		.social {
			margin-bottom: 60px;
			h2 {
				margin-bottom: 15px;
			}
		}
	}
}
.page-node-17 {
	#with_container {
		.with_container {
			background-image: url("../images/full-poster_arrow_1024px.png");
			background-position: center;
			background-size: cover;	
			min-height: 720px;
			height: 670px;
			.group-map:nth-child(1) {
				transition: width 500ms ease-in-out, height 500ms ease-in-out, top 500ms ease-in-out, left 500ms ease-in-out;
				h3 {
					color: #df7736;
					background: rgba(0, 0, 0, 0.1);
				}
				
			}
			@media (min-width: 992px) {
				.group-map:nth-child(1) {
					height: 325px;
					width: 440px;
					top: 30px;
					transition: width 500ms ease-in-out, height 500ms ease-in-out, top 500ms ease-in-out, left 500ms ease-in-out;
					position: absolute;
					left: -160px;
					
				}
			}
			.group-map:nth-child(2) {
			
				h3 {
					color: #e5b875;
					background: rgba(0, 0, 0, 0.1);
				}
			}
			@media (min-width: 992px) {
				.group-map:nth-child(2) {
					top: 450px;
					position: absolute;
					padding: 0px 0px 0px 0px;
					left: -190px;
					width: 295px;
					height: 250px;
				}
			}	
			.group-map:nth-child(3) {
				
				transition: width 500ms ease-in-out, height 500ms ease-in-out, top 500ms ease-in-out, left 500ms ease-in-out;
				h3 {
					color: #8d63ab;;
					background: rgba(0, 0, 0, 0.1);
				}
			}
			@media (min-width: 992px) {
				.group-map:nth-child(3) {
					top: 470px;
					width: 350px;
					height: 295px;
					left: 462px;
					position: absolute;
				}
			}	
			
			section#block-views-block-region-map-block-1 {
				position: relative;
				.group-map {
					.views-row {
						background: rgba(0, 0, 0, 0.2);
						padding-bottom: 2px;
						padding-top: 2px;
						border-bottom: 1px solid rgba(255, 255, 255, 0.1);
						.field-content {
							cursor: pointer;
							padding-left: 5px;
							padding-right: 5px;
							a {
								margin: 2px 0px 0px 0px;
								font-size: 13px;
								line-height: 14px;
								font-weight: bold;
								color: #ffffff;
							}
						}
						
					}
					.views-row:hover {
						background: rgba(14, 118, 188, 0.8);
					}
				}
			}	

		}

	}	
}
